# Exploratory Data Analysis - Data Extraction

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Load Data

employees = pd.read_csv("https://raw.githubusercontent.com/renatomaaliw3/public_files/master/Data%20Sets/employees.csv")
employees.head(5)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [ ]:
# Check the DataFrame Information

employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [ ]:
# Assign Respective Data Types

employees['Start Date'] = pd.to_datetime(employees['Start Date'], format = '%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format='%H:%M %p').dt.time
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Gender'] = employees['Gender'].astype('category')

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    category
 2   Start Date         1000 non-null   datetime64[ns]
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  1000 non-null   bool
 7   Team               957 non-null    object
dtypes: bool(1), category(1), datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 49.1+ KB

## Extract the following data based from the given conditions:

In [21]:
# Extract all 'Male' Employees with Salary of greater than 146000 and a part of Senior Management

employees[(employees['Gender'] == 'Male') & (employees['Salary'] > 146000) & employees['Senior Management']]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
83,Shawn,Male,2005-09-23,02:55:00,148115,6.539,True,Finance
175,Willie,Male,1998-02-17,08:20:00,146651,1.451,True,Engineering
452,Scott,Male,2012-11-17,02:47:00,146812,1.965,True,Marketing
536,Clarence,Male,1982-08-26,09:47:00,146589,4.905,True,Business Development
665,Anthony,Male,2013-02-13,01:35:00,146141,3.645,True,Distribution
721,Harold,Male,2010-04-16,05:13:00,147417,11.626,True,Business Development
851,Bobby,Male,1996-08-19,01:16:00,147842,16.158,True,NaN

In [27]:
# Top 5 Highest Paid Employees from the Engineering Department

employees[employees['Team'] == 'Engineering'].sort_values(by = 'Salary', ascending = False).head(5)[['First Name', 'Salary']]

    First Name  Salary
541       Ruby  147362
983       John  146907
175     Willie  146651
808      Julie  145357
797       Rose  145001

In [31]:
# First Name is Robert who work in Client Services OR Start Date after 2016-06-01

is_robert = employees["First Name"] == "Robert"
is_in_client_services = employees["Team"] == "Client Services"
start_date_after_june_2016 = employees["Start Date"] > "2016-06-01"

employees[(is_robert & is_in_client_services) | start_date_after_june_2016]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
15,Lillian,Female,2016-06-05,06:09:00,59414,1.256,False,Product
98,Tina,Female,2016-06-16,07:47:00,100705,16.961,True,Marketing
387,Robert,Male,1994-10-29,04:26:00,123294,19.894,False,Client Services
451,Terry,NaN,2016-07-15,12:29:00,140002,19.490,True,Marketing

In [33]:
# Legal Team or Sales Team or Product Team (using .isin)

target_teams = employees['Team'].isin(['Legal', 'Sales', 'Product'])
employees[target_teams]

In [34]:
# Employees having no Team

employees[employees['Team'].isnull()]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,1996-03-31,06:53:00,61933,4.170,True,NaN
10,Louise,Female,1980-08-12,09:01:00,63241,15.132,True,NaN
23,NaN,Male,2012-06-14,04:19:00,125792,5.042,True,NaN
32,NaN,Male,1998-08-21,02:27:00,122340,6.417,True,NaN
91,James,NaN,2005-01-26,11:00:00,128771,8.309,False,NaN
109,Christopher,Male,2000-04-22,10:15:00,37919,11.449,False,NaN
139,NaN,Female,1990-10-03,01:08:00,132373,10.527,True,NaN
199,Jonathan,Male,2009-07-17,08:15:00,130581,16.736,True,NaN
258,Michael,Male,2002-01-24,03:04:00,43586,12.659,False,NaN
290,Jeremy,Male,1988-06-14,06:20:00,129460,13.657,True,NaN
314,Bobby,Male,1996-03-31,05:40:00,112117,6.338,False,NaN
367,Edward,Male,1989-08-04,06:06:00,66067,10.957,True,NaN
382,NaN,Female,1996-04-18,03:57:00,107024,12.182,True,NaN
434,Joyce,Female,1995-02-07,07:38:00,50701,14.227,True,NaN
438,Jason,Male,1998-11-20,02:54:00,69244,6.220,True,NaN
445,Chris,Male,2006-12-12,01:57:00,71642,1.496,False,NaN
479,Richard,Male,1997-07-04,11:47:00,47647,18.787,True,NaN
512,Wanda,Female,1993-04-06,03:11:00,78883,19.695,False,NaN
513,Jimmy,Male,2013-11-19,07:29:00,63549,19.624,False,NaN
520,Peter,Male,2003-02-22,09:09:00,56580,8.411,True,NaN
567,NaN,Female,1980-04-01,08:04:00,48141,12.605,True,NaN
573,Kimberly,Female,1981-12-30,04:51:00,81800,5.435,True,NaN
580,Harry,Male,1985-01-27,08:18:00,65482,18.089,False,NaN
626,NaN,Female,1997-04-13,08:03:00,131755,2.930,True,NaN
634,Carl,Male,1987-03-30,05:59:00,75598,19.289,False,NaN
635,Randy,Male,2000-09-27,03:04:00,89831,13.047,True,NaN
647,Donald,Male,1988-04-06,10:00:00,122920,5.320,False,NaN
669,Joseph,NaN,1982-03-28,01:05:00,86564,11.879,True,NaN
684,Alice,Female,2016-01-21,05:07:00,117787,10.485,False,NaN
706,Todd,Male,1993-07-04,06:53:00,128175,18.473,True,NaN
726,Daniel,Male,2016-02-29,04:04:00,77287,13.000,True,NaN
753,Antonio,Male,1999-06-06,10:54:00,41928,5.478,True,NaN
774,NaN,Female,2000-06-18,07:36:00,106428,10.867,True,NaN
781,Lawrence,Male,1995-07-03,10:55:00,46378,9.127,False,NaN
794,Nicole,Female,2004-03-01,05:17:00,44021,10.286,False,NaN
826,NaN,NaN,1988-08-01,01:35:00,87103,5.665,True,NaN
850,Charles,Male,1997-09-03,10:04:00,148291,6.002,False,NaN
851,Bobby,Male,1996-08-19,01:16:00,147842,16.158,True,NaN
853,Mildred,Female,2007-04-06,10:06:00,139284,11.390,True,NaN
855,Phillip,NaN,2003-10-20,11:09:00,89700,2.277,True,NaN
864,Ryan,Male,2012-11-16,01:47:00,57292,6.010,False,NaN
912,Joe,Male,1998-12-08,10:28:00,126120,1.020,False,NaN
951,NaN,Female,2010-09-14,05:19:00,143638,9.662,True,NaN

In [35]:
# Employees with No First Name and No Team

employees[employees['Team'].isnull() & employees['First Name'].isnull()]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
23,NaN,Male,2012-06-14,04:19:00,125792,5.042,True,NaN
32,NaN,Male,1998-08-21,02:27:00,122340,6.417,True,NaN
139,NaN,Female,1990-10-03,01:08:00,132373,10.527,True,NaN
382,NaN,Female,1996-04-18,03:57:00,107024,12.182,True,NaN
567,NaN,Female,1980-04-01,08:04:00,48141,12.605,True,NaN
626,NaN,Female,1997-04-13,08:03:00,131755,2.930,True,NaN
774,NaN,Female,2000-06-18,07:36:00,106428,10.867,True,NaN
826,NaN,NaN,1988-08-01,01:35:00,87103,5.665,True,NaN
951,NaN,Female,2010-09-14,05:19:00,143638,9.662,True,NaN

In [39]:
# Employees with Last Login Time between 8:30 to 12:

import datetime as dt

employees[employees["Last Login Time"].between(dt.time(12, 40), dt.time(12, 45))]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,12:42:00,97308,6.945,True,Marketing
76,Margaret,Female,1988-09-10,12:42:00,131604,7.353,True,Distribution
89,Janice,Female,2016-03-12,12:40:00,51082,11.955,False,Legal
672,Robert,Male,1982-11-05,12:41:00,111580,10.982,False,Human Resources
730,Nicole,Female,2009-04-26,12:40:00,66047,18.674,True,Marketing
766,Justin,Male,1991-07-25,12:45:00,112975,9.699,False,Human Resources
931,Harold,Male,2012-06-23,12:40:00,140444,3.771,False,Distribution
934,Samuel,Male,1997-08-07,12:40:00,43694,3.787,True,Engineering
945,Gerald,NaN,1989-04-15,12:44:00,93712,17.426,True,Distribution
962,Jonathan,Male,2013-08-21,12:45:00,121797,16.923,False,Product

In [49]:
# Unique First Name without NaN

employees['First Name'].dropna().unique()

array(['Douglas', 'Thomas', 'Maria', 'Jerry', 'Larry', 'Dennis', 'Ruby',
       'Angela', 'Frances', 'Louise', 'Julie', 'Brandon', 'Gary',
       'Kimberly', 'Lillian', 'Jeremy', 'Shawn', 'Diana', 'Donna', 'Lois',
       'Matthew', 'Joshua', 'John', 'Craig', 'Scott', 'Terry', 'Benjamin',
       'Christina', 'Joyce', 'Jean', 'Theresa', 'Rachel', 'Linda',
       'Stephanie', 'Michael', 'Christine', 'Beverly', 'Marilyn',
       'Cynthia', 'Roger', 'Bruce', 'Kathy', 'Clarence', 'Chris', 'Nancy',
       'Todd', 'Alan', 'Sara', 'Karen', 'Carl', 'Henry', 'Irene', 'Paula',
       'Denise', 'Kathleen', 'Steve', 'Jose', 'Johnny', 'Bobby', 'Bonnie',
       'Margaret', 'Charles', 'Robin', 'Gerald', 'Christopher', 'Steven',
       'Doris', 'Annie', 'Janice', 'James', 'Virginia', 'Harry',
       'Heather', 'Laura', 'Tina', 'Harold', 'Melissa', 'Aaron', 'Jack',
       'Phyllis', 'Paul', 'Russell', 'Shirley', 'Willie', 'Ashley',
       'Pamela', 'Andrea', 'Peter', 'Helen', 'Patricia', 'Michelle',
       'William', 'Kenneth', 'Antonio', 'Rebecca', 'Carlos', 'Carolyn',
       'Gloria', 'Adam', 'Elizabeth', 'Teresa', 'Nicole', 'Jennifer',
       'Philip', 'Patrick', 'Sean', 'Ruth', 'Victor', 'Marie', 'Howard',
       'Norma', 'Arthur', 'Mary', 'Wayne', 'Jane', 'Jessica', 'Mark',
       'Randy', 'Sandra', 'Carol', 'Barbara', 'Ronald', 'Jonathan',
       'Katherine', 'Emily', 'Lisa', 'Evelyn', 'Gregory', 'Billy',
       'Jason', 'Daniel', 'Sarah', 'George', 'Diane', 'Kathryn', 'Cheryl',
       'Kevin', 'Walter', 'Robert', 'Jimmy', 'Fred', 'Brenda', 'Justin',
       'Betty', 'Sharon', 'Ralph', 'Edward', 'Debra', 'Anne', 'Roy',
       'Frank', 'Nicholas', 'Judy', 'Tammy', 'Jesse', 'Joan', 'Ernest',
       'Jacqueline', 'Jeffrey', 'Samuel', 'Earl', 'Richard', 'Lori',
       'Susan', 'Juan', 'Albert', 'Stephen', 'Rose', 'Joe', 'Julia',
       'Dorothy', 'Deborah', 'Alice', 'Wanda', 'Lawrence', 'Amy', 'Ryan',
       'Judith', 'Eugene', 'Donald', 'Ann', 'Raymond', 'Catherine',
       'Amanda', 'Anna', 'Joseph', 'Andrew', 'Kelly', 'Louis', 'Mildred',
       'Eric', 'Timothy', 'Anthony', 'Martha', 'Brian', 'Martin', 'Janet',
       'Keith', 'Phillip', 'David'], dtype=object)

In [47]:
# Number of Unique First Name without NaN

employees['First Name'].nunique(dropna = True)

200